body {
  background:#55d0db;
  font-family: Arial;
}
h1 {
color:Black;
text-align: center;
}
a {
 text-decoration: none; 
 color: black; 
}
.assign img {
 padding: 300px;
 margin: 10px;
 border: 2px solid midnightblue; /* try dashed, dotted */
}
.assign {
 display: flex;
 padding: 10px;
 margin: 10px;
 background:#cef2ac;
}
.assign img {
 width: 200px;
 padding: 10px;
}

