body {
  background:#276dc6;
  font-family: Arial;
}
h1 {
color:Black;
text-align: center;
}
.assign {
 display: flex;
 padding: 20px;
 margin: 20px;
 background:#cef2ac;
}
.assign img {
 width: 200px;
 padding: 10px;
}
